<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!--<directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension" />-->
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" requireAccess="None" />
    </handlers>
    <aspNetCore processPath="bin\Debug\netcoreapp3.1\PlanningPortal.WebApi.exe" arguments="" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>